@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$primary: #e30b13;
$black: #000000;
$white: #ffffff;
$gray-300: #d9dae8;
$gray-500: #999aa5;
$gray-600: #66676e;
$gray-700: #39393f;
$gray-800: #242529;
$gray-900: #191b1f;
$gray-950: #101215;
$yellow-700: #f5c521;

@mixin fade-bg-gradient($direction: 90deg) {
	&::before {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
		content: '';

		background: linear-gradient(
			$direction,
			#101215 3.31%,
			rgba(#101215, 0.99) 7.71%,
			rgba(#101215, 0.96) 12.11%,
			rgba(#101215, 0.91) 16.51%,
			rgba(#101215, 0.85) 20.91%,
			rgba(#101215, 0.76) 25.31%,
			rgba(#101215, 0.67) 29.71%,
			rgba(#101215, 0.55) 34.11%,
			rgba(#101215, 0.44) 38.52%,
			rgba(#101215, 0.33) 42.92%,
			rgba(#101215, 0.23) 47.32%,
			rgba(#101215, 0.15) 51.72%,
			rgba(#101215, 0.08) 56.12%,
			rgba(#101215, 0.03) 60.52%,
			rgba(#101215, 0.01) 64.92%,
			rgba(#101215, 0) 69.32%
		);
	}
}
